/*Title:Midway Cinemas General stylesheet
Basic Web Applications
Name: Dakota Elam
School: Southern Illinois University
Date Developed: 11/8/2019
Tested/Update: N/A
*/

/* Fonts */
/*
@font-face {
    font-family: 'AirAmerica';
    src: url('../fonts/AirAmerica-Regular.otf');
}
*/

/* General IDs and Classes */

/* Controls the navigation menu at the top of the website. */
#nav_menu ul {
    list-style-type: none;
    padding: 1em 0;
    text-align: center;
}


/* Places the links into a horizontal row. */
#nav_menu ul li{
    display: inline;
    padding: 0 1.5em
}

/* Controls Font styling. */
#nav_menu ul li a {
    font-weight: bold;
    color: #CCCCCC;
}

/* Controls the link that has the class of current to let the user know what page 
    they are on. */
#nav_menu ul li a.current {
    text-decoration: none;
    color: #FFFFFF;
}

/* Disables mobile_menu from slicknav plugin. */
#mobile_menu {
    display: none;
}

.logo {
    position: relative;
    left: 37.5%;
    
    background-color: #353535;
    
    max-width: 25%;
    height: auto;

    border: 5px solid #A5A5A5;
    
}

.businessName {
    text-align: center;
}

.contentBackingHeader {
    background-color: #353535;
    
    border: 5px solid #A5A5A5;
}

.contentWrapHeader {}

.contentBacking {
    background-color: #353535;
    
    /* Seperates the SlickNav menu from the content of the page. */
    margin-top: 2%;
    
    /* Prevents the footer from colliding with the contentBacking. */  
    margin-bottom: 8%;
    
    margin-left: 15%;
    margin-right: 15%;
    
    border: 5px solid #A5A5A5;
}

.contentWrap {
    margin-left: .5%
}

/* controls the footer at the bottom of the pages. */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    
    width: 100%;
    
    background-color: #353535;
    
    border-top: 5px solid #A5A5A5; 
    
    text-align: center;
}

.footer a:link {
    color: #FFFFFF;
}

.footer a:visited {
    color: #FFFFFF;
}

/* General Page CSS */
body {
    background-image: url(../images/prism.png);
    background-repeat: repeat;
    /* Text Color */
    color: #FFFFFF;
}

/* Movies Page CSS */

/* Responsive Image Grid */
/* Reference Used: https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
/* Rounds the corner of the image and adds a border as a selector. */
.imageGrid img:hover{
    border-radius: 15px;
    border: 2px solid #FFFFFF;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Aligns individual divs with the .column class into columns next to each other. */
.column {
    flex: 25%;
    max-width: 33%;
    padding: 0 2%;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Movie Description Pages */
.movieCover {
    max-width: 50%;
    max-height: auto;
    
    margin-left: 25%;
}

/* Movie Trailer */
/* Could not make the embed responsive initially. I had to search up the problem and was lead here: 
https://support.google.com/sites/forum/AAAATAKBXDQUVHOGRHJWls//?hl=en&gpf=d/topic/sites/UVHOGRHJWls/ */
.embedContainer {
    position: relative;
    
    width: 100%;
    height: auto;
    
    margin-left: 2%;
    
    /* For aspect ratio 16x9 */
    padding-bottom: 56.25%;
    
    overflow: hidden;
}

.embedContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 95%;
    height: 95%;
}

/* Contact Page */
/* Form Controls */
#button {
    margin-left: 0em;
}

/* Aligns the forms into a straight column. */
label {
    clear:both;
    float: left;
    width: 8em;
    
    text-align: right;
}

input {
    margin-left: 1em;
    margin-bottom: .5em;
}

select {
    margin-left: 1em;
    margin-bottom: .5em;
}

fieldset {
    width: 30%;
    height: auto;
    
    margin-top: 1em;
    margin-bottom: 1em;
}

fieldset label{
    float: none;
}

textarea {
    clear: both;
    display:block;
    
    width: 50%;
    height: 15em;
    
    margin-bottom: 1em;
    
    font-family: Arial, Helvetica, sans-serif;
}

/* Generic Tags */
/* Table Controls */
table {
    width: 96.5%;
    height: auto;
    position: relative;
    left: 1.5%;
    
    border-collapse: separate;
}

th, td {
    border: 1px solid #000000;
    padding: .2em .7em;
    text-align: right;
}

th:first-child, td:first-child {
    text-align: left;
}

th:nth-child(2), td:nth-child(2) {
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #151515;
}


/* Media Queries */
@media only screen and (max-width: 970px) {
    /* General Pages */
    /* Display mobile menu. */
    #mobile_menu {
        display: block;
    }
    
    /* Hide desktop menu */
    #nav_menu {
        display: none;
    }
    
    /* Expands the backing that the words and pictures sit on to fit smaller screens better. */
    .contentBacking {
        margin-left: 0%;
        margin-right: 0%;
        
        /* Prevents the footer from colliding with the contentBacking. */  
        margin-bottom: 100px;
    }
    
    /* Movie Page */
    
    /* Adjust the columns for smaller viewports. */
    .column {
        flex: 50%;
        max-width: 45.8%;
    }
    
    /* Contact Page */
    textarea {
        width: 98%;
    }
    
}
